<div class="main-banner" data-parallax="scroll" data-image-src="/img/main-bg.jpg">
    <div class="container" style="text-align: center;">
        <img style="width: 350px; padding-top: 150px;" src="/img/logo-white.png">
        <div style="color: #afaeae;top: -70px;position: relative;">
          Путешествия <img style="width: 7px;" src="/img/cross.png"> Английский <img style="width: 7px;" src="/img/cross.png"> Технологии
        </div>
    </div>
</div>
<div class="tri-line">
</div>


<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <% page.posts.each(function(item){ %>
                <%- partial('_partial/article-index', {item: item}) %>
                    <% }); %>

                        <%- partial('_partial/pagination') %>
        </div>
    </div>
</div>
