<!-- Navigation -->
<div class="blog-nav">
    <div class="container">
        <nav>
            <div style="text-align: center;">
                <div style="display: inline-block;padding-top: 20px;"><a href="/">БЛОГ</a></div>

                <div style="display: inline-block; width: 100px;">
                    <div class="logo-circle">
                        <img style="width: 100px;" src="/img/logo.png">
                    </div>
                </div>

                <div style="display: inline-block;padding-top: 20px;"><a href="http://dimafeng.com">ENG</a></div>
            </div>
        </nav>
    </div>
</div>
